{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}
{% block all-products %}
<hr>
<div class="container">
  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Home
        </button>
        <div class="collapse show" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
            <li><a href="#" class="link-dark rounded">Updates</a></li>
            <li><a href="#" class="link-dark rounded">Reports</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Dashboard
        </button>
        <div class="collapse show" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
            <li><a href="#" class="link-dark rounded">Weekly</a></li>
            <li><a href="#" class="link-dark rounded">Monthly</a></li>
            <li><a href="#" class="link-dark rounded">Annually</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
          Orders
        </button>
        <div class="collapse show" id="orders-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New</a></li>
            <li><a href="#" class="link-dark rounded">Processed</a></li>
            <li><a href="#" class="link-dark rounded">Shipped</a></li>
            <li><a href="#" class="link-dark rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
          Account
        </button>
        <div class="collapse show" id="account-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New...</a></li>
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><a href="#" class="link-dark rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="row" style="width: 100%; display: flex; justify-content: center;">
    <form method="get" action="{% url 'products' %}">
      <input type="text" name="search_query" placeholder="Search...">
      
      <!-- Thanh lọc danh mục -->
      <select name="category">
          <option value="">All Categories</option>
          {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
      </select>
      
      <button type="submit">Search</button>
    </form>

    {% for product in products %}
        <div class="col-lg-4">
          <div class="box-element product">
            <img style="margin: 0 auto; display: block; width: 350px; height: 350px;" src="{{product.ImageURL}}">
            <h6><strong>{{product.name}}</strong></h6>  
            <hr>
            <button data-product="{{product.productID}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">{% translate "Thêm vào giỏ hàng" %}</button>
            <a class="btn btn-outline-success" href="{{ product.get_absolute_url }}">{% translate "Xem" %}</a>
            <h5 style="display: inline-block; float: right"><strong>${{product.price | floatformat:2 }}</strong></h5>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
<br /><br /><br />
{% endblock all-products%}{% block language %}
{% include "app/language.html" with var="products" %}
{% endblock language %}

